<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--通过外部配置文件来配置jdbc连接池-->
    <properties resource="jdbcConfig.properties"></properties>


    <typeAliases>
        <!--<typeAlias type="com.zyz.entity.User" alias="user"/>-->
        <!--给包下的所有类起别名-->
        <package name="com.zyz.entity"/>
    </typeAliases>
    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
            <!--<dataSource type="UNPOOLED">-->
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/zyz/dao/UserMapper.xml"/>
        <mapper resource="com/zyz/dao/AccountMapper.xml"/>
<!--        <mapper class="com.com.zyz.dao.UserDao"/>-->
    </mappers>
</configuration>
