<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:编写接口的全类名，就是告诉要实现该配置文件是哪个接口的具体实现-->
<mapper namespace="com.zyz.dao.UserDao">
    <select id="findAll" resultType="com.zyz.entity.User">
        select * from user;
    </select>

    <select id="findById" parameterType="int" resultType="com.zyz.entity.User">
        select * from user where id=#{id}
    </select>

    <select id="findByName" parameterType="string" resultType="com.zyz.entity.User">
        select * from user where username like #{username}
    </select>

    <select id="findUserByVo" parameterType="com.zyz.entity.QueryVo" resultType="com.zyz.entity.User">
        select * from user where username like #{user.username}
    </select>

    <select id="findUserByCondition" resultType="user" parameterType="user">
        select * from user
        <where>
            <if test="username!=null">
                and username=#{username}
            </if>
            <if test="sex!=null">
                and sex=#{sex}
            </if>
        </where>

    </select>

    <select id="findUserInIds" resultType="user" parameterType="queryvo">
        select * from user
        <where>
            <if test="ids != null and  ids.size()>0">
                <foreach collection="ids" open="and id in (" close=")" item="id" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
